.container {
  margin-top: 6em;
  width: 80%;
}

.content {
  max-height: 20em !important;
  display: flex;
  gap: 1.5em;
  height: 100%;
  margin-top: 2em;
  padding: 1em;
  overflow-x: scroll;
  overflow-y: hidden;
}
